<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400&display=swap" rel="stylesheet">
    <link href="/css/header.css" rel="stylesheet" type="text/css">
    <link href="https://unpkg.com/ress/dist/ress.min.css" rel="stylesheet" type="text/css">
    <title>header</title>
</head>
<body>
<div id="root">

    <div class="upper-buttons-justify">
        <div class="main-logo">
            <a href=#>
                <img src="user/images/main_logo.png">
            </a>
        </div>

        <div class="middle-side-buttons">
            <a href=#>BEST</a>
            <a href=#>캐리어</a>
            <a href=#>가방</a>
            <a href=#>여행용품</a>
            <a href=#>이벤트</a>
            <a href=#>커뮤니티</a>
        </div>

        <div class="right-buttons-justify">

            <div class="store">
                <a href=#>
                    <img src="/user/images/top_store.png">
                </a>
            </div>
            <div class="myshop">
                <a href=#>
                    <img src="/user/images/top_myshop.png">
                </a>
            </div>
            <div class="cart">
                <a href=#>
                    <img src="/user/images/top_cart.png">
                </a>
            </div>
            <div class="search">
                <a href=#>
                    <img src="/user/images/top_search.png">
                </a>
            </div>

        </div>
    </div>

</div>
</body>
</html>