<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="/user/css/search.css" rel="stylesheet" type="text/css">
    <title>search</title>
</head>
<body>
    <div id="container">
        <div id="contents">

            <div class="title-area">
                <h1>상품검색</h1>
            </div>

            <form id="search-form" action="search.html" method="get" target="_self">
                <div class="search-box">
                    <fieldset>
                    <legend>상품검색</legend>

                    <div class="item">
                        <strong>상품분류</strong>
                        <select id="category_no">
                            <option value="0" selected="selected">상품분류 선택</option>
                            <option value="82" selected="selected">캐리어</option>
                            <option value="92" selected="selected">가방</option>
                            <option value="101" selected="selected">여행용품</option>
                        </select>
                    </div>

                    <div class="item overview">
                        <strong>검색조건</strong>
                        <select id="search_type" name="search_type">
                            <option value="product_name">상품명</option>
                            <option value="product_code">상품코드</option>
                            <option value="ma_product_code">자체상품코드</option>
                            <option value="prd_model">모델명</option>
                            <option value="prd_brand">브랜드명</option>
                        </select>
                        <input id="keyword" class="inputTypeText" placeholder size="15" type="text">
                    </div>

                    <div class="search-hotkeyword">
                        <strong>인기검색어</strong>
                        <p>
                            <a href="search.html?keyword=캐리어">캐리어</a>
                            <a href="search.html?keyword=캐리어커버">캐리어커버</a>
                            <a href="search.html?keyword=캐리어벨트">캐리어벨트</a>
                            <a href="search.html?keyword=와이어">와이어</a>
                            <a href="search.html?keyword=배낭">배낭</a>
                            <a href="search.html?keyword=도난방지">도난방지</a>
                            <a href="search.html?keyword=복대">복대</a>
                            <a href="search.html?keyword=네임택">네임택</a>
                            <a href="search.html?keyword=여권케이스">여권케이스</a>
                            <a href="search.html?keyword=목베개">목베개</a>
                        </p>
                    </div>

                    <div class="item">
                        <strong>판매가격대</strong>
                        <input id="product_price1" name="product_price1" size="16" type="text">
                         ~
                        <input id="product_price2" name="product_price2" size="16" type="text">
                    </div>

                    <div class="item">
                        <strong>검색정렬기준</strong>
                        <select id="order_by" name="order_by">
                            <option value selected="selected">::: 기준선택 :::</option>
                            <option value="recent">신상품 순</option>
                            <option value="name">상품명순</option>
                            <option value="priceasc">낮은가격 순</option>
                            <option value="price">높은가격 순</option>
                            <option value="manu_name">제조사 순</option>
                            <option value="review">사용후기 순</option>
                        </select>
                    </div>
                    <p class="button">
                        <button type="submit" class="btnSubmitFix">검색</button>
                    </p>
                    </fieldset>
                </div>
                <div class="searchResult">
                    <p class="record">
                        <strong>0</strong>
                        개의 상품을 찾았습니다.
                    </p>
                    <ul class="search-orderby listType">
                        <li rel style class="btn_order"></li>
                    </ul>
                </div>
                <div class="noData">
                    <strong class="warning">검색결과가 없습니다.</strong>
                    <strong>정확한 검색어 인지 확인하시고 다시 검색해 주세요.</strong>
                    <ul>
                        <li>검색어의 입력이 정확한지 확인해 보세요.</li>
                        <li>두 단어 이상의 검색어인 경우, 띄어쓰기를 확인해 보세요.</li>
                        <li>검색 옵션을 다시 확인해 보세요.</li>
                    </ul>
                </div>
            </form>
        </div>
    </div>
</body>
</html>