<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>회원 상세목록</title>
    <!-- adminMemberDetail스타일 -->
    <link href="/admin/css/style2.css" rel="stylesheet" type="text/css">
</head>
<body>
        <div id="pop_style01">
            <div id="pop_page_top">
                <h2>회원 상세페이지</h2>
            </div>
            <div class="memberDetail" style="width: 100%">
                <div class="inputSearch">
                        <div class="box1">
                            아이디
                        </div>
                        <div class="box2">
                            <input class="ex" type="search"  value="alsry2325">
                        </div>
                </div>
                <div class="inputSearch">
                    <div class="box1">
                        비밀번호
                    </div>
                    <div class="box2">
                        <input type="search"  value="******">
                    </div>
                    <div class="box3">
                        <button type="submit" class="btnSubmit" >비밀번호 변경</button>
                    </div>
                </div>
                <div class="inputSearch">
                    <div class="box1">
                        성명
                    </div>
                    <div class="box2">
                        정민교
                    </div>
                </div>
                <div class="inputSearch">
                    <div class="box1">
                        이메일
                    </div>
                    <div class="box2">
                        <input type="search"  value="alsry2325@naver.com">
                    </div>
                    <div class="box3">
                        <button type="submit" class="btnSubmit" >이메일 중복확인</button>
                    </div>
                </div>
                <div class="inputSearch">
                    <div class="box1">
                        회원등급
                    </div>
                    <div class="box2">
                        <select name="memberGradeList" class="memberGradeList">
                            <option disabled selected>전체</option>
                            <option value="gold">골드</option>
                            <option value="silver">실버</option>
                            <option value="bronze">브론즈</option>
                        </select>
                    </div>
                </div>
                <div class="inputSearch">
                    <div class="box1">
                        배송지
                    </div>
                    <div class="box2">

                    </div>
                    <div class="box3">
                        <button type="submit" class="btnSubmit" >배송지관리</button>
                    </div>
                </div>
                <div class="inputSearch">
                    <div class="box1">
                        일반전화
                    </div>
                    <div class="box2">
                        <select name="memberGradeList" class="memberGradeList">
                            <option value="02" disabled selected>02</option>
                            <option value="070">070</option>
                            <option value="080">080</option>
                            <option value="060">060</option>
                        </select>
                    </div>

                    <div class="box3">
                       ㅡ&nbsp;&nbsp;&nbsp;<input type="search"  value="1234" style="width: 55px">
                    </div>
                    <div class="box3">
                        ㅡ&nbsp;&nbsp;&nbsp;<input type="search"  value="1234" style="width: 55px">
                    </div>
                </div>
                <div class="inputSearch">
                    <div class="box1">
                        휴대폰
                    </div>
                    <div class="box2">
                        <select name="memberGradeList" class="memberGradeList">
                            <option value="010" disabled selected>010</option>
                            <option value="070">070</option>
                            <option value="080">080</option>
                            <option value="060">060</option>
                        </select>
                    </div>

                    <div class="box3">
                        ㅡ&nbsp;&nbsp;&nbsp;<input type="search"  value="1234" style="width: 55px">
                    </div>
                    <div class="box3">
                        ㅡ&nbsp;&nbsp;&nbsp;<input type="search"  value="1234" style="width: 55px">
                    </div>
                </div>
                <div class="inputSearch">
                    <div class="box1">
                        수신등록여부
                    </div>
                    <div class="box2">
                        <input type="checkbox">&nbsp;&nbsp;sns수신여부
                    </div>
                    <div class="box3">
                        <input type="checkbox">&nbsp;&nbsp;email수신여부
                    </div>
                </div>
                <div class="userUpdater">
                    <button type="submit" class="btnSubmit" >회원정보 수정</button>
                </div>
            </div>
        </div>

</body>
</html>