<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>관리자 회원리스트</title>
    <!-- header영역 스타일 -->
    <link href="/admin/css/mingyo-member/style.css" rel="stylesheet" type="text/css">
    <!-- adminMemberList스타일-->
    <link href="/admin/css/mingyo-member/style1.css" rel="stylesheet" type="text/css">
    <script src="/admin/js/member/event.js" type="text/javascript"></script>
</head>
<body>
    <!--header 영역-->
    <div th:replace="common/admin/header.html"></div>
    <!-- Main 영역 -->
    <div class="Main">
        <!--nav영역 -->
        <div class="headerBar" th:replace="common/admin/nav.html"></div>

        <div class="memberList">
            <div class="memberListtTitle">
                <h1>회원 관리</h1>
            </div>
            <div class="memberListtTitle test">
                <h2>회원정보 조회</h2>
            </div>

            <div class="inputSerch">
                <form id="searchForm" action="/admin/adminMemberList">
                <hr>
                <div>
                    <div class="inputSerch box">
                        <div class="inputSerch box1">
                            아이디
                        </div>
                        <div class="inputSerch box2">
                            <input type="search" id="searchValueId" name="searchValueId" th:value="${paging.searchValueId}"/>
                        </div>
                    </div>
                    <hr>
                    <div class="inputSerch box">
                        <div class="inputSerch box1">
                            회원등급
                        </div>
                        <div class="inputSerch box2">
                            <select id="memberGradeList" name="memberGradeList" class="memberGradeList">
                                <option >전체</option>
                                <option value="gold" th:selected="${ paging.memberGradeList eq 'gold'}">골드</option>
                                <option value="silver" th:selected="${ paging.memberGradeList eq 'silver'}">실버</option>
                                <option value="bronze" th:selected="${ paging.memberGradeList eq 'bronze'}">브론즈</option>
                                <option value="normal" th:selected="${ paging.memberGradeList eq 'normal'}">일반회원</option>
                            </select>
                        </div>
                    </div>
                    <hr>
                    <div class="inputSerch box">
                        <div class="inputSerch box1">
                            가입일
                        </div>
                        <div class="inputSerch box2">
                            <input type="date" id="searchDate" class="join-start" value="가입일" name="searchDate" th:value="${paging.searchDate}"/>
                        </div>
                    </div>
                    <hr>
                </div>
                <div class="btnSubmitBox">
                    <button type="submit" class="btnSubmit" >회원정보 조회 </button>
                </div>
                </form>
            </div>
            <div class="memberListBox">
                <div class="memberListTitleBox">
                    <h3>회원 목록</h3>
                </div>
                <div class="memberButton">
                    <div>
                        <button type="submit" class="btnSubmit" >회원정보 삭제 </button>
                    </div>
                    <div>
                        <button type="submit" class="btnSubmit" >회원정보 수정 </button>
                    </div>
                    <div>
                        <button type="submit" class="btnSubmit " >회원등급 해제 </button>
                    </div>
                    <div>
                        <button type="submit" class="btnSubmit " >적립금 일괄지급 </button>
                    </div>
                </div>
            </div>
            <div class="memberListTitleBox1">
            <hr>
                <div class="memberListTitleBox2">
                    <div class="imgBox">
                        <img class="menu_title" src="/admin/images/mingyo-member/hidden.svg" alt="hidden_img">
                    </div>
                    <div class="nember">
                        no
                    </div>
                    <div class="nember">
                        등록일
                    </div >
                    <div class="nember">
                        이름
                    </div>
                    <div class="nember">
                        아이디
                    </div>
                    <div class="nember">
                        등급
                    </div>
                    <div class="phoneNember">
                        휴대전화
                    </div>
                    <div class="details">
                        관련 내역보기
                    </div>
                </div>
            </div>
            <div class="memberListTitleBox1">
                <hr>
                <div class="memberListTitleBox3" th:each="memberList, test: ${memberList}">
                    <div class="imgBox">
                        <input type="checkbox" class="xxx">
                    </div>
                    <!-- 번호 = 전체 게시물 개수 - (현재 페이지 * 페이지당 게시물 개수) - 나열 인덱스 -->
                    <div th:text="${paging.totalCount - (paging.page * paging.limit)- test.index + paging.limit}">
                    </div>
                    <div th:text="${#dates.format(memberList.joinDay, 'yyyy-MM-dd')}">
                    </div>
                    <div th:text="${memberList.memberName}">
                    </div>
                    <div th:text="${memberList.memberId}">
                    </div>
                    <div th:text="${memberList.gradeCode.gradeName}"></div>
                    <div class="phoneNember" th:text="${memberList.phone}"></div>
                    <div class="orderBtn">
                        <button type="submit" class="btnSubmit" >주문 </button>
                    </div>
                    <div>
                        <button type="submit" class="btnSubmit " >적립금 </button>
                    </div>
                </div>
                <hr>
                <!-- 페이징 바 -->
                <div id="paging" align="center" style="margin-top: 20px; height: 50px">

                    <!--                    <th:block-->
                    <!--                            th:if="${ paging.memberGradeList != null and paging.searchValueId != null and pagin.searchDate != null }">-->
                    <!--  맨 앞으로 이동-->
                    <button
                            th:onclick="'location.href=\'/admin/adminMemberList?page=1&memberGradeList='+ @{${paging.memberGradeList}} + '&searchValueId=' + @{${paging.searchValueId}} +'&searchDate=' + @{${paging.searchDate}} +'\''">&lt;&lt;</button>

                    <!-- 이전 페이지로 이동 -->
                    <button
                            th:onclick="'location.href=\'/admin/adminMemberList?page='+ @{${paging.page - 1}} + '&memberGradeList=' + @{${paging.memberGradeList}} + '&searchValueId=' + @{${paging.searchValueId}} +'&searchDate=' + @{${paging.searchDate}} +'\''"
                            th:disabled="${ paging.page <= 1 }">&lt;</button>

                    <!-- 숫자 버튼 -->
                    <th:block
                            th:each="page : ${ #numbers.sequence(paging.startPage, paging.endPage)}">
                        <button
                                th:onclick="'location.href=\'/admin/adminMemberList?page=' + @{${page}} + '&memberGradeList=' + @{${paging.memberGradeList}} + '&searchValueId=' + @{${paging.searchValueId}} +'&searchDate=' + @{${paging.searchDate}} +'\''"
                                th:text="${ page }" th:disabled="${ paging.page eq page }">
                        </button>
                    </th:block>

                    <!-- 다음 페이지로 이동 -->
                    <button
                            th:onclick="'location.href=\'/admin/adminMemberList?page=' + @{${paging.page + 1}} + '&memberGradeList=' + @{${paging.memberGradeList}} + '&searchValueId=' + @{${paging.searchValueId}} +'&searchDate=' + @{${paging.searchDate}} +'\''"
                            th:disabled="${ paging.page >= paging.maxPage }">></button>

                    <!-- 맨 끝으로 이동 -->
                    <button
                            th:onclick="'location.href=\'/admin/adminMemberList?page=' + @{${paging.maxPage}} + '&memberGradeList=' + @{${paging.memberGradeList}} + '&searchValueId=' + @{${paging.searchValueId}} +'&searchDate=' + @{${paging.searchDate}} +'\''">>></button>

                    <!--                 </th:block>-->
                </div>
            </div>

</body>
</html>