<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>회원 상세목록</title>
    <link href="/admin/css/style1.css" rel="stylesheet" type="text/css">
</head>
<body>
        <div>
            <div class="inputSerch">

                <div class="memberListtTitle test">
                    <h2>회원정보 상세보기</h2>
                </div>
                <hr>
                <div>

                    <div class="inputSerch box">
                        <div class="inputSerch box1">
                            아이디
                        </div>
                        <div class="inputSerch box2">
                            <input type="text" name="id">
                        </div>
                    </div>
                    <hr>
                    <div class="inputSerch box">
                        <div class="inputSerch box1">
                            비밀번호
                        </div>
                        <div class="inputSerch box2">
                            <input type="text" name="id">
                        </div>
                        <div>
                            <button type="submit" class="btnSubmit" >비밀번호 변경 </button>
                        </div>
                    </div>
                    <hr>
                    <div class="inputSerch box">
                        <div class="inputSerch box1">
                            성명
                        </div>
                        <div class="inputSerch box2">
                            정민교
                        </div>
                    </div>
                    <hr>
                    <div class="inputSerch box">
                        <div class="inputSerch box1">
                            이메일
                        </div>
                        <div class="inputSerch box2">
                            <input type="text" name="email"  value="test@test.com">
                        </div>
                        <div>
                            <button type="submit" class="btnSubmit" >이메일 중복확인</button>
                        </div>
                    </div>
                    <hr>

                    <div class="inputSerch box">
                        <div class="inputSerch box1">
                            회원등급
                        </div>
                        <div class="inputSerch box2">
                            <select name="memberGradeList" class="memberGradeList">
                                <option disabled selected>전체</option>
                                <option value="gold">골드</option>
                                <option value="silver">실버</option>
                                <option value="bronze">브론즈</option>
                            </select>
                        </div>
                    </div>
                    <hr>
                    <div class="inputSerch box">
                        <div class="inputSerch box1">
                            배송지
                        </div>
                        <div>
                            <button type="submit" class="btnSubmit" >배송지관리</button>
                        </div>
                    </div>
                    <hr>
                    <div class="inputSerch box">
                        <div class="inputSerch box1">
                            일반전화
                        </div>
                        <div class="inputSerch box2">
                            <select name="memberGradeList" class="memberGradeList">
                                <option value="02">02</option>
                                <option value="070">070</option>
                                <option value="080">080</option>
                            </select>
                        </div>
                        <div class="inputSerch box2">
                           - <input type="text" name="tell1">
                        </div>
                        <div class="inputSerch box2">
                            - <input type="text" name="tell2">
                        </div>
                    </div>
                    <hr>
                    <div class="inputSerch box">
                        <div class="inputSerch box1">
                            휴대전화
                        </div>
                        <div class="inputSerch box2">
                            <select name="memberGradeList" class="memberGradeList">
                                <option value="010">010</option>
                                <option value="011">011</option>
                                <option value="012">012</option>
                            </select>
                        </div>
                        <div class="inputSerch box2">
                            - <input type="text" name="tell1">
                        </div>
                        <div class="inputSerch box2">
                            - <input type="text" name="tell2">
                        </div>
                    </div>
                    <hr>
                    <div class="inputSerch box">
                        <div class="inputSerch box1">
                           수신등록여부
                        </div>
                        <div class="inputSerch box2">
                            <div class="inputSerch box2">
                                <input type="checkbox" class="xxx">sns수신여부
                            </div>
                            <div class="inputSerch box2">
                                <input type="checkbox" class="xxx">email수신여부
                            </div>
                        </div>
                    </div>
                    <hr>
                </div>
            </div>
        </div>

</body>
</html>