<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>회원 상세목록</title>
    <!-- adminMemberDetail스타일 -->
    <link href="/admin/css/mingyo-member/style2.css" rel="stylesheet" type="text/css">
    <script src="/admin/js/member/event.js" type="text/javascript"></script>
    <script  src="http://code.jquery.com/jquery-latest.min.js"></script>
</head>
<body>
        <div id="pop_style01">
            <div id="pop_page_top">
                <h2>회원 상세페이지</h2>
            </div>
            <div class="memberDetail" style="width: 100%" th:each="member, test: ${memberList}">
                <input type="hidden" id="memberCode" th:value="${member.memberCode}">
                <div class="inputSearch">
                        <div class="box1">
                            아이디
                        </div>
                        <div class="box2">
                            <input class="ex" type="text"  name="memberId"  th:value="${member.memberId}">
                        </div>
                </div>
                <div class="inputSearch">
                    <div class="box1">
                        비밀번호
                    </div>
                    <div class="box2">
                        <input type="text"  value="******">
                    </div>
                    <div class="box3">
                        <button type="submit" id="popTest" class="btnSubmit" th:onclick="pwUpdatepopup([[${member.memberCode}]])">비밀번호 변경</button>
                    </div>
                </div>
                <div class="inputSearch">
                    <div class="box1">
                        성명
                    </div>
                    <div class="box2" th:text ="${member.memberName}">
                    </div>
                </div>
                <div class="inputSearch">
                    <div class="box1">
                        이메일
                    </div>
                    <div class="box2" th:text="${member.email}">
                    </div>
<!--                    <div class="box3">-->
<!--                        <button type="submit" class="btnSubmit" >이메일 중복확인</button>-->
<!--                    </div>-->
                </div>
                <div class="inputSearch">
                    <div class="box1">
                        회원등급
                    </div>
                    <div class="box2">
                        <select name="memberGradeList" class="memberGradeList" id="memberGradeList">
                            <option value="4" th:selected="${ member.gradeCode.gradeCode eq 4}">골드</option>
                            <option value="3" th:selected="${ member.gradeCode.gradeCode eq 3}">실버</option>
                            <option value="2" th:selected="${ member.gradeCode.gradeCode eq 2}">브론즈</option>
                            <option value="1" th:selected="${ member.gradeCode.gradeCode eq 1}">일반회원</option>
                        </select>
                    </div>
                </div>
                <div class="inputSearch">
                    <div class="box1">
                        배송지
                    </div>
                    <div class="box2">
                    </div>
                    <div class="box3">
                        <button type="button" class="btnSubmit" >배송지관리</button>
                    </div>
                </div>
                <div class="inputSearch">
                    <div class="box1">
                        적립금
                    </div>
                    <div class="box2"> [[${member.mileage}]]<span>pint</span>
                    </div>
                </div>
                <div class="inputSearch">
                    <div class="box1">
                        일반전화
                    </div>
                    <div class="box3">
                        <input type="text" th:value="${member.tell}"  name="memberTell" id="memberTell">
                    </div>
                </div>
                <div class="inputSearch">
                    <div class="box1">
                        휴대폰
                    </div>
                    <div class="box2">
                        <input type="text" th:value="${member.phone}" name="memberPhone" id="memberPhone">
                    </div>
                    <div class="box3">
                    </div>
                </div>
                <div class="inputSearch">
                    <div class="box1">
                        수신등록여부
                    </div>
                    <div class="box2" >
                        <input type="checkbox" id="smsStatus" name="smsStatus"   th:checked="${member.smsYn.trim() eq 'Y'}">&nbsp;&nbsp;sns수신여부
                    </div>
                    <div class="box3">
                        <input type="checkbox" id="emailStatus" name="emailStatus"  th:checked="${member.emailYn.trim() eq 'Y'}">&nbsp;&nbsp;email수신여부
                    </div>
                </div>
                <div class="userUpdater">
                    <button type="button" id="modifyButton" class="btnSubmit" >회원정보 수정</button>
                </div>
            </div>


        </div>

</body>
</html>