<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="/user/css/migi/search.css" rel="stylesheet" type="text/css">
    <title>search</title>
</head>
<body>
<div th:replace="/common/user/header.html"></div>

    <div id="container">
        <div id="contents">

            <div class="title-area">
                <h1>상품검색</h1>
            </div>

            <form id="search-form" action="/user/searchForm" method="get" target="_self">
                <div class="search-box">
                    <fieldset>
                    <legend>상품검색</legend>

                    <div class="item">
                        <strong>상품분류</strong>
                        <select id="categoryNo" name="categoryCode">
                            <option selected="selected">상품분류 선택</option>
                            <option value="1">캐리어</option>
                            <option value="2">가방</option>
                            <option value="3">여행용품</option>
                        </select>
                    </div>

                    <div class="item overview">
                        <strong>검색조건</strong>
                        <select id="searchCondition" name="searchCondition">
                            <option value="PRODUCT_NAME">상품명</option>
                            <option value="PRODUCT_SEQ">상품코드</option>
                        </select>
                        <input type="text" id="searchValue" th:value="${searchValue}" name="searchValue" class="inputTypeText" placeholder size="15">
                    </div>

                    <div class="search-hotkeyword">
                        <strong>인기검색어</strong>
                        <p>
                            <a href="search?searchValue=캐리어">캐리어  </a>
                            <a href="search?searchValue=캐리어커버">캐리어커버  </a>
                            <a href="search?searchValue=캐리어벨트">캐리어벨트  </a>
                            <a href="search?searchValue=와이어">와이어  </a>
                            <a href="search?searchValue=배낭">배낭  </a>
                            <a href="search?searchValue=도난방지">도난방지  </a>
                            <a href="search?searchValue=복대">복대  </a>
                            <a href="search?searchValue=네임택">네임택  </a>
                            <a href="search?searchValue=여권케이스">여권케이스  </a>
                            <a href="search?searchValue=목베개">목베개</a>
                        </p>
                    </div>

                    <div class="item">
                        <strong>판매가격대</strong>
                        <input id="productPrice1" name="productPrice1" size="16" type="text">
                         ~
                        <input id="productPrice2" name="productPrice2" size="16" type="text">
                    </div>

                    <div class="item">
                        <strong>검색정렬기준</strong>
                        <select id="orderBy" name="orderBy">
                            <option value selected="selected">::: 기준선택 :::</option>
                            <option value="recent">신상품 순</option>
                            <option value="name">상품명순</option>
                            <option value="priceasc">낮은가격 순</option>
                            <option value="price">높은가격 순</option>
                            <option value="manu_name">제조사 순</option>
                            <option value="review">사용후기 순</option>
                        </select>
                    </div>
                    <p class="button">
                        <button type="submit" class="btnSubmitFix">검색</button>
                    </p>
                    </fieldset>
                </div>
                <div class="searchResult">
                    <p class="record">
                        <strong>0</strong>
                        개의 상품을 찾았습니다.
                    </p>
                    <ul class="search-orderby listType">
                        <li rel style class="btn_order"></li>
                    </ul>
                </div>
                <div class="noData">
                    <strong class="warning">검색결과가 없습니다.</strong>
                    <strong>정확한 검색어 인지 확인하시고 다시 검색해 주세요.</strong>
                    <ul>
                        <li>검색어의 입력이 정확한지 확인해 보세요.</li>
                        <li>두 단어 이상의 검색어인 경우, 띄어쓰기를 확인해 보세요.</li>
                        <li>검색 옵션을 다시 확인해 보세요.</li>
                    </ul>
                </div>
            </form>
        </div>
    </div>

<div th:replace="/common/user/footer.html"></div>

<script>

    window.addEventListener('DOMContentLoaded', function () {
        // 현재 URL에서 'searchValue' 파라미터 값을 가져옵니다.
        const urlParams = new URLSearchParams(window.location.search);
        const searchValue = urlParams.get('searchValue');

        // 'searchValue' 파라미터가 존재하고 값이 비어 있지 않다면 값을 'searchValue' 입력 필드에 설정합니다.
        if (searchValue !== null && searchValue.trim() !== '') {
            document.getElementById("searchValue").value = searchValue;
        }
    });

</script>

</body>
</html>