@charset "UTF-8";

body {
    margin-top: 164px;
}


.qnaListLineTop{
    margin-top: 40px;
    margin-bottom: 0;
    width: 852px;
    border-bottom: 1px solid black;
}

.qnaListLine{
    margin-top: 94px;
    margin-bottom: 0;
}

.qnaListTitle{
    margin-top: 94px;
    margin-bottom: 0;
    width: 852px;
    border-bottom: 1px solid black;
}