#main-wrapper {
    position: inherit;
    height: 100%;
}

.swiper-main {
    width: 100%;
    max-width: 1920px;
    height: 690px;
}

.swiper-container {
    margin-top: 64px;
    list-style: none;
    padding: 0;
}

.swiper-slide image {
    height: 690px;
}

.area-title {
    margin-bottom: 24px;
}

/* 신제품 목록 관련 */

#new-products {
    display: block;
    width: 1580px;
    margin: 64px auto;
}

#thumbnailArea {
    max-width: 1580px;
    margin: auto;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

.item {
    margin: 20px;
    cursor: pointer;
}

.product-description {
    font-size: 12px;
    position: relative;
    margin: 16px auto;
    width: 350px;
    white-space: normal;
    word-break: keep-all;
}

.product-name {
    text-align: left;
    padding: 4px 0;
    font-weight: 500;
    color: #767676;
    line-height: 24px;
    letter-spacing: -0.01em;
    font-size: 14px;
}

.product-name #product-price {
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 0.05em;
}


/* reviews */

#reviews {
    display: block;
    width: 1620px;
    margin: 64px auto;
}

#review-area {
    max-width: 100%;
    margin: auto;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

.review {
    border: 1px solid #cccccc;
    margin: 10px;
}

.review-info-product {
    border-bottom: 1px solid #cccccc;
    padding: 8px;
    text-align: left;
}

.review-info-product-name {
    font-weight: 600;
}

.rating {
    margin: 8px;
    text-align: left;
}

#star-rating {
    margin-top: 4px;
    display: inline-block;
    float: left;
}

.reviewBody {
    padding: 8px 0;
    display: flex;
    justify-content: space-between;
}

#review-body {
    float: left;
    width: 200px;
    white-space : nowrap;
    overflow : hidden;
    text-overflow: ellipsis;
}
