<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" type="text/css" href="/user/css/user/modify.css">
    <!-- 이메일 자동완성을 위해 추가-->
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <!-- 주소 API -->
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>

    <link rl="stylesheet" href="/user/css/migi/header.css"/>

</head>
<body>
<div th:replace="common/user/header.html"></div>
<div th:replace="common/user/mypageNav.html"></div>

<div class="modifyContainer">
    <form action="/user/modify" method="post">

    <ul>
        <li class="regist-id">
            <label>아이디 *</label>
            <p id="memberId" th:text="${ #authentication.principal.memberId }"></p>
        </li>
        <li class="pwd">
            <label for="pwd1">비밀번호 *</label>
            <input class="password" id="pwd1" name="memberPwd" type="password"
                   placeholder="(영문 대소문자/숫자/특수문자 중 2가지 이상 조합, 10자 ~ 16자)" maxlength="16" required><br>
            <div id="pwdError"></div>
            <div id="pwdMessage" style="display: none;">
                <p>
                    <strong>* 비밀번호 입력 조건</strong><br>
                    - 대소문자/숫자/특수문자 중 2가지 이상 조합, 10자 ~ 16자<br>
                    - 입력 가능 특수문자: ~ ` ! @ # $ % ^ ( ) * _ - = { } [ ] | ; : < > , . ? /<br>
                    - 공백 입력 불가능<br>
                    - 연속된 문자, 숫자 사용 불가능<br>
                    - 동일한 문자, 숫자를 반복해서 사용 불가능<br>
                </p>
            </div>
            <label for="pwd2">비밀번호 확인 *</label>
            <input class="password" id="pwd2" name="pwd2" type="password" maxlength="16" required>
            <div id="pwdError2"></div>
        </li>
        <li class="regist-name">
            <label>이름 *</label>
            <p id=memberName th:text="${ #authentication.principal.memberName }"></p>
        </li>
        <li class="joinAddress">
            <label for="zipCode">주소 *</label>
            <input id="zipCode" name="zipCode" type="text" th:value="${ #authentication.principal.address.addressCode }" readonly>
            <button id="searchZipCode" type="button">주소 검색</button><br>
            <input class="address" id="address1" name="address1" type="text" th:value="${ #authentication.principal.address.defaultAdr }" readonly required><br>
            <input class="address" id="address2" name="address2" type="text" th:value="${ #authentication.principal.address.optionalAdr }" required>
        </li>
        <li class="telNumber">
            <label>일반전화</label>
            <input id="tel" name="tel" type="number" th:value="${ #authentication.principal.tel }">
        </li>
        <li class="phoneNumber">
            <label>휴대전화 *</label>
            <input id="phone" name="phone" type="number" th:value="${ #authentication.principal.phone }">

        </li>
        <li class="regist-email">
            <label>이메일 *</label>
            <input class="email" id="email" name="email" type="email" onkeyup="autoEmail('email', this.value)" autocomplete="off" th:value="${ #authentication.principal.email }" required>
        </li>
    </ul>

    <ul class="check-agree">
        <li>
            <label for="smsCheckbox">SMS 수신을 동의하십니까? </label>
            <input type="checkbox" id="smsCheckbox" name="smsYn" value="Y" class="optionalCheck" th:checked="${ #authentication.principal.smsYn == 'Y' }">
            <label for="smsCheckbox">동의함</label><br>
            <input type="hidden" name="smsYn" value="N">
        </li>
        <li>
            <label for="emailCheckbox">이메일 수신을 동의하십니까? </label>
            <input type="checkbox" id="emailCheckbox" name="emailYn" value="Y" class="optionalCheck" th:checked="${ #authentication.principal.emailYn == 'Y' }">
            <label for="emailCheckbox">동의함</label><br>
            <input type="hidden" name="emailYn" value="N">
        </li>
    </ul>

        <div class="modifyBtn">
            <input id="modifyMember" type="submit" value="회원정보수정">
            <input id="deleteMember" type="button" value="탈퇴하기">
            <input id="cancelMember" type="button" value="취소">
        </div>

    </form>
</div>

<script>

    const $searchZipCode = document.getElementById("searchZipCode");

    $searchZipCode.onclick = function () {
        new daum.Postcode({
            oncomplete: function (data) {
                document.getElementById("zipCode").value = data.zcode;
                document.getElementById("address1").value = data.address;
                document.getElementById("address2").focus();
            }
        }).open();
    }


    // 정보 수정 버튼 클릭 시
    if(document.getElementById("modifyMember")) {
        const $update = document.getElementById("modifyMember");
        $update.onclick = function() {
            location.href = "/user/user/modify";
        }
    }

    // 회원 탈퇴 버튼 클릭 시
    if(document.getElementById("deleteMember")) {
        const $update = document.getElementById("deleteMember");
        $update.onclick = function() {
            location.href = "/user/delete";
        }
    }

</script>
</div>

</body>
</html>