<!DOCTYPE html>
<html lang="en">
<link href="/user/css/zeesang/styles.css" rel="stylesheet" type="text/css"/>
<link href="/user/css/zeesang/noticesDetail.css" rel="stylesheet" type="text/css"/>
<head>
    <meta charset="UTF-8">
    <title>게시물 확인 폼</title>
<!--        <script>-->
<!--            function save(){-->
<!--                oEditors.getById["txtContent"].exec("UPDATE_CONTENTS_FIELD", []);-->
<!--                //스마트 에디터 값을 텍스트컨텐츠로 전달-->
<!--                var content = document.getElementById("smartEditor").value;-->
<!--                alert(document.getElementById("txtContent").value);-->
<!--                // 값을 불러올 땐 document.get으로 받아오기-->
<!--                return;-->
<!--            }-->
<!--        </script>-->
</head>
<body>

<div th:replace="common/user/header.html"></div>


<H1 align="center" style="margin-top: 56px;">공지사항</H1>
<div align="center">
    <div class="noticesListLineFirst">
        <table class="noticesListLine" style="margin: auto">
            <tr>
                <td class="noticesCategory" style="color: crimson" th:text="${ noticesD.category.name }" th:if="${noticesD.category.code}==1"></td>
                <td class="noticesCategory" th:text="${ noticesD.category.name }" th:if="${noticesD.category.code}==2"></td>
                <td class="noticesCategory" style="color:#0075BD" th:text="${ noticesD.category.name }" th:if="${noticesD.category.code}==3"></td>
                <td class="noticesTitle"><p th:text="${ noticesD.title }"></p></td>
                <td class="noticesDate"th:text="${#dates.format(noticesD.registeredDate, 'yyyy.MM.dd')}">
            </tr>
        </table>
    </div>
</div>
<!--    <textarea id="txtContent" name="body" cols="60" rows="15"-->
<!--              style="resize: none; margin-top: 94px" readonly th:text="${ noticesD.body }">-->
<!--                                </textarea></td>-->
<div style="width: 852px; margin: 94px auto 0 auto" th:utext="${ noticesD.body }"/>


<div align="center" style="margin: 94px auto 0 auto">
    <div class="noticesListLineSecond">
        <table class="noticesListLine" style="margin: auto" >
            <tr>
                <td class="noticesTitle"></td>
            </tr>
        </table>
        <div class="noticesListLineThird">
        </div>
    </div>
</div>
<div th:replace="/common/user/footer.html"></div>
</body>
</html>