<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>register</title>
    <link rel="stylesheet" href="/user/css/migi/review.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400&display=swap" rel="stylesheet">
</head>
<body>
<div th:replace="/common/user/header.html"></div>

<div id="wrapper">

    <h1 id="main-title" align="center">리뷰작성</h1>
    <hr>

    <div id="sub-title">
        <h1>상품 품질 리뷰</h1>
        <h2>제품에 만족 하셨나요?</h2>
        <hr>
    </div>

    <form id="reviewRegisterForm" action="/review/register" method="post" enctype="multipart/form-data">
        <th:block>
        <div id="thumbnail-img">
            <img th:src="${orderedProduct.fileList[0].filePath}">
        </div>
        </th:block>
        <div id="product-grade">
            <p th:text="'주문번호 : ' + ${#dates.format(orderInfo.getOrderDate(), 'yy-MM-dd')} + '-' + ${orderInfo.getOrderCode()}"></p>
            <p th:text="${orderedProduct.getProductName()}"></p>
            <input type="hidden" id="orderCode" name="orderCode" th:value="${orderInfo.getOrderCode()}"/>
            <fieldset id="star-grade">
                <input type="radio" name="rating" value="5" id="rate5"><label
                    for="rate5">★</label>
                <input type="radio" name="rating" value="4" id="rate4"><label
                    for="rate4">★</label>
                <input type="radio" name="rating" value="3" id="rate3"><label
                    for="rate3">★</label>
                <input type="radio" name="rating" value="2" id="rate2"><label
                    for="rate2">★</label>
                <input type="radio" name="rating" value="1" id="rate1"><label
                    for="rate1">★</label>
            </fieldset>
        </div>
        <div id="review-detail">
            <hr>
            <h2 id="detail-form">상세 리뷰</h2>
            <fieldset>
                <textarea id="reviewBody" name="reviewBody" placeholder="다른 고객님들에게 도움이 될 수 있도록 솔직한 평가를 남겨 주세요.
(제품과 무관한 리뷰의 경우 무통보 삭제될 수 있습니다.)"></textarea>
            </fieldset>
        </div>
        <hr>
        <div class="content-input">
            <label><h2 id="attach-img">사진 첨부</h2></label>
            <input id="reviewImage" type="file" name="reviewImage"
                   accept="image/gif,image/jpeg,image/png">
        </div>
        <hr>
        <div id="submit-cancel-btn">
            <button class="btn-cancel" type="button" onclick="location.href='/main'">취소하기</button>
            <button class="btn-submit" type="submit">등록하기</button>
        </div>
    </form>
</div>


<div th:replace="/common/user/footer.html"></div>
</body>
</html>