<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hexkey.travelmaker.admin.product.dao.ProductMapper">

    <resultMap type="com.hexkey.travelmaker.admin.product.dto.ProductDTO" id="generalProductResultMap">
        <id property="productSeq" column="PRODUCT_SEQ"/>
        <result property="productName" column="PRODUCT_NAME"/>
        <result property="price" column="PRICE"/>
        <result property="registDate" column="REGISTERED_DATE"/>
        <result property="modifyDate" column="MODIFIED_DATE"/>
        <result property="categoryCode" column="CATEGORY_CODE"/>
        <result property="serialNo" column="SERIAL_NO"/>
        <result property="status" column="ORDERABLE_STATUS"/>

    </resultMap>

    <resultMap type="com.hexkey.travelmaker.admin.product.dto.ProductDTO" id="productFileResultMap">
        <id property="productSeq" column="PRODUCT_SEQ"/>
        <result property="productName" column="PRODUCT_NAME"/>
        <result property="price" column="PRICE"/>
        <result property="registDate" column="REGISTERED_DATE"/>
        <result property="modifyDate" column="MODIFIED_DATE"/>
        <result property="categoryCode" column="CATEGORY_CODE"/>
        <result property="serialNo" column="SERIAL_NO"/>
        <result property="status" column="ORDERABLE_STATUS"/>

        <collection property="fileList" resultMap="fileResultMap"/>
    </resultMap>

    <resultMap type="com.hexkey.travelmaker.admin.product.dto.FileDTO" id="fileResultMap">
        <id property="fileCode" column="FILE_CODE"/>
        <result property="fileType" column="FILE_TYPE"/>
        <result property="originalName" column="ORIGIN_FILE_NAME"/>
        <result property="savedName" column="SAVED_FILE_NAME"/>
        <result property="filePath" column="FILE_PATH"/>
        <result property="noticeCode" column="NOTICE_CODE"/>
        <result property="productSeq" column="PRODUCT_SEQ"/>
        <result property="reviewCode" column="REVIEW_CODE"/>
        <result property="qnaCode" column="QNA_CODE"/>
    </resultMap>

    <insert id="insertProductContent">
        INSERT
        INTO TBL_PRODUCT
        (
          PRODUCT_SEQ
        , PRODUCT_NAME
        , PRICE
        , REGISTERED_DATE
        , MODIFIED_DATE
        , CATEGORY_CODE
        , SERIAL_NO
        , ORDERABLE_STATUS
        )
        VALUES
        (
          SEQ_PRODUCT_SEQ.NEXTVAL
        , #{ productName }
        , #{ price }
        , #{ registDate }
        , #{ modifyDate }
        , #{ categoryCode }
        , #{ serialNo }
        , #{ status }
        )
    </insert>

    <insert id="insertFile">
        INSERT
        INTO TBL_FILE
        (
          FILE_CODE
        , FILE_TYPE
        , ORIGIN_FILE_NAME
        , SAVED_FILE_NAME
        , FILE_PATH
        , PRODUCT_SEQ
        )
        VALUES
        (
          SEQ_FILE_CODE.NEXTVAL
        , #{ fileType }
        , #{ originalName }
        , #{ savedName }
        , #{ filePath }
        , SEQ_PRODUCT_SEQ.NEXTVAL
        )
    </insert>
</mapper>