#titleImgArea {
    margin-top: 219px;
    margin-left: 242px;
    width: 706px;
    height: 695px;
    flex-shrink: 0;

    position: relative;
}

#leftButtonImg{
    position: absolute;
    left: 40px;
    top: 335px;
}

#rightButtonImg {
    position: absolute;
    right: 40px;
    top: 335px;
}

#productImg {
    width: 706px;
    height: 695px;
    flex-shrink: 0;
}

#product_info {
    margin-left: 25px;
}

#product_contents {
    display: flex;
}

#product_title {
    margin-top: 219px;
    width: 560px;
    height: 120px;
    color: var(--components-chip-default-close-fill, #000);
    font-family: Noto Sans;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 60px; /* 150% */
    text-transform: uppercase;
    white-space: normal;
    word-break: break-word;
}

#product_price {
    margin-top: 100px;
    color: var(--components-chip-default-close-fill, #000);
    font-family: Noto Sans;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 48px; /* 150% */
    text-transform: uppercase;
}

#optContent {
    display: flex;
    margin-top: 24px;
}

#option {
    margin-top: 10px;
    color: var(--components-chip-default-close-fill, #000);
    font-family: Noto Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 36px; /* 150% */
    text-transform: uppercase;
}

#productOpt {
    width: 491px;
    padding: 0px 12px;
   /* align-items: flex-start;*/
}
:root {
    --components-chip-default-close-fill: #000;
}

#optAddLine {
    display: flex;
    margin-top: 97px;

    width: 560px;
    padding: 6px 16px;
    align-items: center;
    gap: var(--1, 8px);
    flex-shrink: 0;

    border-radius: var(--1, 8px);
    background: #FFFDD7;

}

#productOpt {
    margin-left: 24px;
    width: 488px;
    padding: 16px 12px;
    flex-direction: column;
    align-items: flex-start;
    border-radius: var(--borderRadius, 4px);
    border: 1px solid rgba(0, 0, 0, 0.23);

    color: var(--text-primary, rgba(0, 0, 0, 0.87));
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Noto Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    letter-spacing: 0.15px;
}

#optAddLineContent {
    margin-left: 1px;
}


#option {
    position: relative;
}

#iconArrow {
    position: absolute;
    right: 12px;
    top: 16px;
}