<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>list</title>
</head>
<body>
<div th:replace="common/user/header.html"></div>

<div class="wrapper" style="margin-top: 164px">
    <h1>제품 목록</h1>
    <div id="thumbnailArea">
        <th:block th:each="productList : ${productList}">
            <div th:onclick="|location.href='/product/detail?no=${productList.productSeq}'|">
                <div>
                    <th:block th:each="file : ${productList.fileList}">
                        <img th:if="${ file.fileType == 'productImage' }"
                             th:src="${ file.filePath } + ${ file.savedName }"
                             width="350px"
                             height="350px">
                    </th:block>
                </div>
            </div>
            <div class="product-description">
                <div class="product-name">
                    <a th:onclick="|location.href='/product/detail?no=${productList.productSeq}'|">
                        <span th:text="${productList.productName}" style="font-size: 16px;color: #111111;"></span>
                    </a>
                </div>
            </div>
        </th:block>
    </div>

</div>


<div th:replace="common/user/footer.html"></div>
</body>
</html>