<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FAQ</title>
    <link href="/user/css/zeesang/styles.css" rel="stylesheet" type="text/css"/>
    <link href="/user/css/zeesang/faqList.css" rel="stylesheet" type="text/css"/>
<!--    <link href="/user/css/zeesang/noticesList.css" rel="stylesheet" type="text/css"/>-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <style>
        .box{width:852px;height:200px;background:white;display:none;display: flex;
            text-align: center;
            align-items: center;
            justify-content: center;}
    </style>
    <script>
        $(document).ready(function(){
            $(".click").click(function(){
                $(".box").slideToggle();
            });
        });
    </script>
</head>
<body>
<div th:replace="common/user/header.html"></div>

<H1 align="center" style="margin-top: 56px;">F A Q</H1>

<div align="center" class="noticesBody">
    <div class="noticesListLineFirst">
        <div class="click faqListLine">
            <td class="noticesCategory"><span style="font-size: 24px;">Q. 고객센터의 상담 시간을 알고 싶어요.</span></td>
        </div>
    </div>
    <div class="box faqListLineBottom" style="font-size: 16px;"><span>- 고객센터 전화번호 : 1544-9180
        <br>
        <br>
- 상담 시간 : 평일 오전 9시 30분 ~ 오후 6시 (점심시간 : 오전 11시 30분 ~ 오후 1시 30분 / 주말, 공휴일 휴무)
        <br>
        <br>
- 전화 연결이 어려운 경우 카카오 상담톡으로 문의를 남겨주시면 확인 후 정성껏 답변드리겠습니다.
        <br>
        <br>
※ 문의량이 많을 경우 상담 연결 및 답변이 지연될 수 있습니다.</span></div>
    <div class="click faqListLine">
        <td class="noticesCategory"><span style="font-size: 24px;">배송 기간은 얼마나 걸리나요?</span></td>
    </div>
</div>
</div>










<div th:replace="/common/user/footer.html"></div>
</body>
</html>