<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hexkey.travelmaker.product.regist.dao.ProductRegistMapper">

    <resultMap type="com.hexkey.travelmaker.product.regist.dto.ProductDTO" id="ProductResultMap">
        <id property="productSeq" column="PRODUCT_SEQ"/>
        <result property="productName" column="PRODUCT_NAME"/>
        <result property="price" column="PRICE"/>
        <result property="registDate" column="REGISTERED_DATE"/>
        <result property="modifyDate" column="MODIFIED_DATE"/>
        <result property="categoryCode" column="CATEGORY_CODE"/>
        <result property="serialNo" column="SERIAL_NO"/>
        <result property="status" column="ORDERABLE_STATUS"/>

        <association property="productCategory" resultMap="ProductCategoryResultMap"/>
        <collection property="productOption" resultMap="ProductOptionResultMap"/>
        <collection property="fileList" resultMap="FileResultMap"/>
    </resultMap>

    <resultMap type="com.hexkey.travelmaker.product.regist.dto.ProductCategoryDTO" id="ProductCategoryResultMap">
        <id property="categoryCode" column="CATEGORY_CODE"/>
        <result property="categoryName" column="CATEGORY_NAME"/>
        <result property="refCategoryCode" column="REF_CATEGORY_CODE"/>
    </resultMap>

    <resultMap type="com.hexkey.travelmaker.product.regist.dto.ProductOptionDTO" id="ProductOptionResultMap">
        <id property="optionCode" column="OPTION_CODE"/>
        <result property="optionName" column="OPTION_NAME"/>
        <result property="productSeq" column="PRODUCT_SEQ"/>
        <result property="refOptionCode" column="REF_OPTION_CODE"/>
    </resultMap>

    <resultMap type="com.hexkey.travelmaker.product.regist.dto.FileDTO" id="FileResultMap">
        <id property="fileCode" column="FILE_CODE"/>
        <result property="fileType" column="FILE_TYPE"/>
        <result property="originalName" column="ORIGIN_FILE_NAME"/>
        <result property="savedName" column="SAVED_FILE_NAME"/>
        <result property="filePath" column="FILE_PATH"/>
        <result property="noticeCode" column="NOTICE_CODE"/>
        <result property="productSeq" column="PRODUCT_SEQ"/>
        <result property="reviewCode" column="REVIEW_CODE"/>
        <result property="qnaCode" column="QNA_CODE"/>
    </resultMap>

    <insert id="insertProduct">
        INSERT
        INTO TBL_PRODUCT
        (
          PRODUCT_SEQ
        , PRODUCT_NAME
        , PRICE
        , CATEGORY_CODE
        , SERIAL_NO
        , ORDERABLE_STATUS
        )
        VALUES
        (
        SEQ_PRODUCT_SEQ.NEXTVAL
        , #{ productName }
        , #{ price }
        , #{ productCategory.categoryCode }
        , #{ serialNo }
        , #{ status }
        )
    </insert>

    <insert id="insertFile">
        INSERT
        INTO TBL_FILE
        (
          FILE_CODE
        , FILE_TYPE
        , ORIGIN_FILE_NAME
        , SAVED_FILE_NAME
        , FILE_PATH
        , PRODUCT_SEQ
        )
        VALUES
        (
        SEQ_FILE_CODE.NEXTVAL
        , #{ fileType }
        , #{ originalName }
        , #{ savedName }
        , #{ filePath, jdbcType=VARCHAR }
        , SEQ_PRODUCT_SEQ.CURRVAL
        )
    </insert>

    <insert id="insertProductSuperOpt">
        INSERT
        INTO TBL_PRODUCT_OPTION
        (
          OPTION_NAME
        , OPTION_CODE
        , PRODUCT_SEQ
        )
        VALUES
        (
          #{ productOption.optionName }
        , SEQ_OPTION_CODE.NEXTVAL
        , SEQ_PRODUCT_SEQ.CURRVAL
        )
    </insert>

    <insert id="insertProductSubOpt">
        <selectKey keyProperty="productOption.refOptionCode" order="BEFORE" resultType="_int">
            SELECT
                   SEQ_OPTION_CODE.CURRVAL
              FROM DUAL
        </selectKey>
        INSERT
        INTO TBL_PRODUCT_OPTION
        (
          OPTION_NAME
        , OPTION_CODE
        , PRODUCT_SEQ
        , REF_OPTION_CODE
        )
        VALUES
        (
          #{ productOption.optionName }
        , SEQ_OPTION_CODE.NEXTVAL
        , SEQ_PRODUCT_SEQ.CURRVAL
        , #{ productOption.refOptionCode }
        )
    </insert>
</mapper>