<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400&display=swap" rel="stylesheet">
    <link href="/user/css/migi/header.css" rel="stylesheet" type="text/css">
    <link href="https://unpkg.com/ress/dist/ress.min.css" rel="stylesheet" type="text/css">
    <title>header</title>
</head>
<body>
<div id="root">

    <div class="upper-buttons-justify">
        <div class="main-logo">
            <a href="/">
                <img src="/user/images/migi/main_logo.png">
            </a>
        </div>

        <ul class="middle-side-buttons">

            <li><a href=#>BEST</a></li>

            <li class="add-cate" >
                <a class="cate" id="carrier" data-submenu="sub" href="/user/product/list/supList?categoryCode=1">캐리어</a>
                <ul class="sub">
                    <ul style="display: inline-block; float: left">
                        <li class="sub_a"><a id="4" href="/user/product/list/subList?categoryCode=4">하드</a></li>
                        <li><a id="12" href="/user/product/list/lowestList?categoryCode=12">기내 (21형 이하)</a></li>
                        <li><a id="13" href="/user/product/list/lowestList?categoryCode=13">중형 (22~26형)</a></li>
                        <li><a id="14" href="/user/product/list/lowestList?categoryCode=14">대형 (27형 이상)</a></li>
                    </ul>
                    <ul style="display: inline-block; float: left">
                        <li class="sub_a"><a id="5" href="/user/product/list/subList?categoryCode=5">소프트</a></li>
                        <li><a id="15" href="/user/product/list/lowestList?categoryCode=15">기내 (21형 이하)</a></li>
                        <li><a id="16" href="/user/product/list/lowestList?categoryCode=16">중형 (22~26형)</a></li>
                        <li><a id="17" href="/user/product/list/lowestList?categoryCode=17">대형 (27형 이상)</a></li>
                    </ul>
                </ul>
            </li>

            <li class="add-cate">
                <a class="cate" id="bags" data-submenu="sub-bags" href="/user/product/list/supList?categoryCode=2">가방</a>
                <ul class="sub-bags">
                    <ul style="display: inline-block; float: left">
                        <li class="sub_a"><a href="/user/product/list/subList?categoryCode=6">배낭</a></li>
                        <li><a href="/user/product/list/lowestList?categoryCode=18">여행 배낭</a></li>
                        <li><a href="/user/product/list/lowestList?categoryCode=19">배낭 용품</a></li>
                        <li><a href="/user/product/list/lowestList?categoryCode=20">백팩</a></li>
                    </ul>
                    <ul style="display: inline-block; float: left">
                        <li class="sub_a"><a href="#">보조가방</a></li>
                        <li><a href="/user/product/list/lowestList?categoryCode=21">접이식 | 폴딩백</a></li>
                        <li><a href="/user/product/list/lowestList?categoryCode=22">보스턴 | 더플백</a></li>
                        <li><a href="/user/product/list/lowestList?categoryCode=23">크로스 | 숄더백</a></li>
                        <li><a href="/user/product/list/lowestList?categoryCode=24">도난방지백</a></li>
                        <li><a href="/user/product/list/lowestList?categoryCode=25">기타 백</a></li>
                    </ul>
                </ul>
            </li>

            <li class="add-cate">
                <a id="items" data-submenu="sub-items" href="/user/product/list/supList?categoryCode=3">여행용품</a>
                <ul class="sub-items">
                    <ul style="display: inline-block; float: left">
                        <li class="sub_a"><a href="/user/product/list/subList?categoryCode=8">수납 | 편의</a></li>
                        <li><a href="/user/product/list/lowestList?categoryCode=26">트래블팩 | 파우치</a></li>
                        <li><a href="/user/product/list/lowestList?categoryCode=27">안대 | 목베개</a></li>
                        <li><a href="/user/product/list/lowestList?categoryCode=28">와이파이 | 유심</a></li>
                        <li><a href="/user/product/list/lowestList?categoryCode=29">간편식품</a></li>
                        <li><a href="/user/product/list/lowestList?categoryCode=30">편의용품</a></li>
                    </ul>
                    <ul style="display: inline-block; float: left">
                        <li class="sub_a"><a href="/user/product/list/subList?categoryCode=9">안전 | 위생</a></li>
                        <li><a href="/user/product/list/lowestList?categoryCode=31">캐리어커버 | 벨트</a></li>
                        <li><a href="/user/product/list/lowestList?categoryCode=32">안전복대 | 지갑</a></li>
                        <li><a href="/user/product/list/lowestList?categoryCode=33">자물쇠 | 와이어</a></li>
                        <li><a href="/user/product/list/lowestList?categoryCode=34">보안 | 구급용품</a></li>
                        <li><a href="/user/product/list/lowestList?categoryCode=35">뷰티케어</a></li>
                    </ul>
                    <ul style="display: inline-block; float: left">
                        <li class="sub_a"><a href="/user/product/list/subList?categoryCode=10">악세서리</a></li>
                        <li><a href="/user/product/list/lowestList?categoryCode=36">여권커버 | 네임택</a></li>
                        <li><a href="/user/product/list/lowestList?categoryCode=37">전자 | 전기용품</a></li>
                        <li><a href="/user/product/list/lowestList?categoryCode=38">여행 아이템</a></li>
                        <li><a href="/user/product/list/lowestList?categoryCode=39">여행 문구</a></li>
                        <li><a href="/user/product/list/lowestList?categoryCode=40">기념품</a></li>
                    </ul>
                    <ul style="display: inline-block; float: left">
                        <li class="sub_a"><a href="/user/product/list/subList?categoryCode=11">액티비티 | 시즌</a></li>
                        <li><a href="/user/product/list/lowestList?categoryCode=41">캠핑 | 등산</a></li>
                        <li><a href="/user/product/list/lowestList?categoryCode=42">골프</a></li>
                        <li><a href="/user/product/list/lowestList?categoryCode=43">래쉬가드</a></li>
                        <li><a href="/user/product/list/lowestList?categoryCode=44">아쿠아슈즈</a></li>
                        <li><a href="/user/product/list/lowestList?categoryCode=45">스윔</a></li>
                    </ul>
                </ul>
            </li>

            <li><a href=#>이벤트</a></li>

            <li class="add-cate">
                <a class="cate" id="community" data-submenu="sub-com" href=#>커뮤니티</a>
                <ul class="sub-com">
                    <li class="sub_a"><a href="#">게시판</a></li>
                    <li><a href="#">ABOUT US</a></li>
                    <li><a href="/community/notices/list">NOTICE</a></li>
                    <li><a href="/community/faq/list">FAQ</a></li>
                    <li><a href="/community/qna/list">Q&A</a></li>
                </ul>
            </li>

        </ul>

        <div class="right-buttons-justify">

            <div class="store">
                <a href='/map/map'>
                    <img src="/user/images/migi/top_store.png">
                </a>
            </div>

            <th:block sec:authorize="isAnonymous()">
            <div class="myshop">
                <a class="cate" id="myshop-anonymous" data-submenu="sub-my-a" href="/user/user/login">
                    <img src="/user/images/migi/top_myshop.png">
                </a>
                <ul class="sub-my-a">
                    <li><a href="/user/user/login">로그인</a></li>
                    <li><a href="/user/user/regist">회원가입</a></li>
                    <li><a href="#">주문조회</a></li>
                </ul>
            </div>
            </th:block>

            <th:block sec:authorize="isAuthenticated()">
                <div class="myshop">
                    <a class="cate" id="myshop-login" data-submenu="sub-my-l" href="/user/user/mypage">
                        <img src="/user/images/migi/top_myshop.png">
                    </a>
                    <ul class="sub-my-l">
                        <li><a id="logout">로그아웃</a> </li>
                        <li><a href="#">주문조회</a></li>
                    </ul>
                </div>
            </th:block>

            <div class="cart">
                <a href=#>
                    <img src="/user/images/migi/top_cart.png">
                </a>
            </div>
            <div id="searchBtn" class="search" onclick="slideDown()">
                <a href=#>
                    <img src="/user/images/migi/top_search.png">
                </a>
            </div>
        </div>
    </div>
    <div id="keyword-search" class="slide-search">
        <a href="#" id="closeBtn" class="closebtn" onclick="closeSlide()">
            <img src="/user/images/migi/search_close.png">
        </a>

        <div class="search-inner">
            <form id="searchForm" action="/user/search" method="get" target="_self">
                <fieldset title="검색어를 입력해주세요.">
                    <input id="searchValue" name="searchValue" class="inputTypeText" placeholder="검색어를 입력하세요."
                           value="검색어를 입력하세요." type="text">
                    <input type="image" src="/user/images/migi/top_search.png" class="btn-src" alt="검색이미지"
                           onclick.href="/user/search">
                </fieldset>
            </form>

            <div class="hot-keyword">
                <div class="search-title">인기 검색어</div>
                <div class="search-tag">
                    <a href="#" class="tag">#캐리어</a>
                    <a href="#" class="tag">#캐리어커버</a>
                    <a href="#" class="tag">#캐리어벨트</a>
                    <a href="#" class="tag">#와이어</a>
                    <a href="#" class="tag">#배낭</a>
                    <a href="#" class="tag">#도난방지</a>
                    <a href="#" class="tag">#복대</a>
                    <a href="#" class="tag">#네임택</a>
                    <a href="#" class="tag">#여권케이스</a>
                    <a href="#" class="tag">#</a>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    window.onload = function() {
        if (document.getElementById("logout")) {
            const $logout = document.getElementById("logout");
            $logout.onclick = function () {
                location.href = "/member/logout";
            }
        }
    }

    const menuElements = document.querySelectorAll("[data-submenu]");

    function handleMouseEnter(menu, submenus) {
        clearTimeout(timeoutId);
        if (activeMenu !== menu) {
            if (activeMenu) {
                const activeSubMenuId = activeMenu.getAttribute("data-submenu");
                console.log(activeSubMenuId)
                const activeSubmenus = document.querySelectorAll("." + activeSubMenuId);
                activeSubmenus.forEach(hideSubMenu);
            }
            activeMenu = menu;
        }
        submenus.forEach(showSubMenu);
    }

    function showSubMenu(submenu) {
        submenu.style.display = "block";
    }

    function hideSubMenu(submenu) {
        submenu.style.display = "none";
    }

    menuElements.forEach((menu) => {
        const submenuId = menu.getAttribute("data-submenu");
        const submenus = document.querySelectorAll("." + submenuId);

        menu.addEventListener("mouseenter", () => {
            handleMouseEnter(menu, submenus);
        });

        menu.addEventListener("mouseleave", () => {
            timeoutId = setTimeout(() => {
                submenus.forEach(hideSubMenu);
            }, 150);
        });

        submenus.forEach((submenu) => {
            submenu.addEventListener("mouseenter", () => {
                clearTimeout(timeoutId);
                showSubMenu(submenu);
            });

            submenu.addEventListener("mouseleave", () => {
                timeoutId = setTimeout(() => {
                    hideSubMenu(submenu);
                }, 150);
            });
        });
    });

    let activeMenu = null;
    let timeoutId = null;
</script>

<script>
        const searchBtn = document.getElementById("searchBtn");
        const slide = document.getElementById("keyword-search");
        let currentY = -350;
        const targetY = 0;
        let isAnimating = false;

        searchBtn.addEventListener("click", () => {
            if (!isAnimating) {
                animateElement();
            }
        });

        function animateElement() {
            isAnimating = true;
            function animate() {
                currentY +=20;

                slide.style.top = currentY + "px";

                if (currentY < targetY) {
                    requestAnimationFrame(animate);
                } else {
                    slide.style.top = 0 + "px";
                    isAnimating = false;
                }
            }
            animate();
        }

        function closeSlide() {
            let before = parseInt(getComputedStyle(slide).top);
            const after = -350
            isAnimating = true;

            function animate() {
                before -= 20;

                slide.style.top = before + "px";

                if (before > after) {
                    requestAnimationFrame(animate);
                } else {
                    slide.style.top = -350 + "px";
                    isAnimating = false;
                }
            }
            animate();
        }
    </script>

</body>
</html>
