<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
<!--    <script type="text/javascript" src="/user/js/user/regist.js"></script>-->
    <link rel="stylesheet" type="text/css" href="/user/css/mypage/mypageNav.css">
</head>
<body>

<div class="memberNav">
    <h2 id="title">마이페이지</h2><hr id="hr">
    <div>
        <ul>
            <li>
                <h3>쇼핑정보</h3>
                <ul>
                    <li><a href="/order/member">주문목록/배송정보</a></li>
                    <li><a href="">적립금</a></li>
                    <li><a href="/user/reviewList" id="myReview">후기</a></li>
                </ul>
            </li>
            <li>
                <h3 id="category">회원정보</h3>
                <ul>
                    <li><a href="/user/modify" id="myInfo">회원정보</a></li>
                    <li><a href="">배송지 관리</a></li>
                    <li><a href="">회원등급</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>

</body>

<script>

</script>
</html>