<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>sdfsd</title>
    <link rel="stylesheet" href="/user/css/orderpage/adminOrder.css">
</head>
<body>

<div id="head">
    <div id="title">
        <h2>주문,배송 관리</h2>
    </div>
    <div id="title-sub">
        <h3>주문 관리</h3>


    </div>
    <div id="search">
        <div class="search-row">
            <div class="columns">분류 선택</div>
            <div class="columns">
                <select>
                    <option>주문자 명</option>
                </select>
            </div>
            <div class="columns">
                <input type="text">
            </div>
        </div>
        <div class="search-row">
            <div class="columns">등록일</div>
            <div class="columns">
                <input type="date">
            </div>
            <p> -</p>
            <div class="columns">
                <input type="date">
            </div>
        </div>
        <br>
        <div id="search-div">
            <input id="search-button" type="button" value="주문 조회">
        </div>
    </div>
</div>





<div id="body">
    <div class="table">
        <div>
            <h3>주문 목록</h3>
        </div>
        <div class="tr-head">
            <div class="th"></div>
            <div class="th">No.</div>
            <div class="th">주문일자</div>
            <div class="th">등록번호</div>
            <div class="th">주문자명</div>
            <div class="th">결제금액</div>
            <div class="th">휴대전화</div>
            <div class="th">주문상태</div>
        </div>
        <div class="tr" th:each="orderDTO : ${ orderDTOs }">
            <div class="td"><input type="checkbox"></div>
            <div class="td" th:text="${ orderDTO.orderCode }"></div>
            <div class="td" th:text="${ orderDTO.orderDate }"></div>
            <div class="td" th:text="${ orderDTO.orderCode }"></div>
            <div class="td" th:text="${ orderDTO.memberDTO.memberName }"></div>
            <div class="td" th:text="${ orderDTO.totalPrice }"></div>
            <div class="td" th:text="${ orderDTO.memberDTO.phone }"></div>
            <div class="td" th:text="${ orderDTO.orderStatus }"></div>
        </div>

    </div>

</div>


<div id="tail">

</div>

</body>
</html>