@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

.p-span {
    color: #3971FF;
    font-weight: bold;
    background-color: black;
}

#map1, #map2 {
    cursor: pointer;
    width: 120px;
    height: 50px;
    background-color: white;
    font-family: 'Noto Sans KR',  sans-serif;
    border: 1px solid #c9c9c9;
    color: #6e6e6e;
    border-radius: 5px;
    font-size: 15px;
}

#roadview {
    display: none;
}


body {
    margin: 0;
    font-family: 'Noto Sans KR',  sans-serif;
    color: #383838;
}

#main {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

