@charset "UTF-8";
body{
    width: 1920px;
    overflow-x: hidden;
}
html {
    font-size: 14px;
    display: block;
    font-family: Roboto;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

div {
    display: block;
}

#wrapper {
    display: flex;
}

.list_title {
    margin-top: 40px;
    color: #191919;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Noto Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
}

.list_content {
    margin-top: 16px;
    color: #333;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Noto Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
}

#list_wrapper {
    margin-left: 24px;
}

.list_tbl {
    display: flex;
}

.th {
    display: flex;
    width: 1334px;
    border-top: 1px solid rgba(0, 0, 0, 0.12);
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.p {
    width: 102px;
    height: 70px;
    text-align: center;
    line-height: 6;
    gap: var(--1, 8px);
    flex-shrink: 0;
    background: #F5F5F5;

    color: var(--text-primary, rgba(0, 0, 0, 0.87));
    font-feature-settings: 'clig' off, 'liga' off;


    /* typography/body2 */
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.17px;
}

:root {
    --components-input-outlined-enabled-border: rgba(0, 0, 0, 0.23);
    --text-disabled : rgba(0, 0, 0, 0.38);
    --divider : rgba(0, 0, 0, 0.12);
}

.list_tbl select {
    width: 184px;
    margin-top: 16px;
    margin-left: 16px;
    height: 40px;
    padding: 10px 12px;
    flex-direction: column;
    align-items: flex-start;
    flex: 1 0 0;

    border-radius: var(--borderRadius, 4px);
    border: 1px solid var(--components-input-outlined-enabled-border, rgba(0, 0, 0, 0.23));

    color: var(--text-disabled, rgba(0, 0, 0, 0.38));

    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Noto Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 171.429% */
    letter-spacing: 0.15px;
}

#searchWord {
    margin-left: 16px;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Noto Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 171.429% */
    letter-spacing: 0.15px;
}

#searchValue {
    margin-left: 16px;
    margin-top: 16px;
    height: 40px;
    width: 394px;

    flex-direction: column;
    align-items: flex-start;
    flex: 1 0 0;

    border-radius: var(--borderRadius, 4px);
    border: 1px solid var(--components-input-outlined-enabled-border, rgba(0, 0, 0, 0.23));
    background: #FAFAFA;
}

#productPrice {
    margin-left: 16px;
    margin-top: 25px;
}
#productPrice select {
    width: 184px;
    height: 40px;
    padding: 10px 12px;
    flex-direction: column;
    align-items: center;


    border-radius: var(--borderRadius, 4px);
    border: 1px solid var(--components-input-outlined-enabled-border, rgba(0, 0, 0, 0.23));

    color: var(--text-disabled, rgba(0, 0, 0, 0.38));

    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Noto Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 171.429% */
    letter-spacing: 0.15px;
}

#registDateBox {
    margin-left: 16px;
    margin-top: 16px;
}

#registDateBox input {
    border-radius: var(--borderRadius, 4px);
    border: 1px solid var(--components-input-outlined-enabled-border, rgba(0, 0, 0, 0.23));

    color: var(--text-disabled, rgba(0, 0, 0, 0.38));

    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Noto Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 171.429% */
    letter-spacing: 0.15px;
}

#search {
    margin-left: 650px;
    margin-top: 24px;

    display: flex;
    padding: var(--1, 8px) 16px;
    align-items: flex-start;
    gap: var(--borderRadius, 4px);

    color: #FFF;
    text-align: right;
    font-feature-settings: 'clig' off, 'liga' off;

    /* Button */
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */

    border-radius: var(--1, 8px);
    background: #0075BD;
}

.price {
    width: 100px;
    height: 20px;

    border-radius: var(--borderRadius, 4px);
    border: 1px solid var(--components-input-outlined-enabled-border, rgba(0, 0, 0, 0.23));
}

#productList {
    display: flex;
    width: 1436px;
}

.productTh {
    height: 70px;
    text-align: center;
    line-height: 6;
    gap: var(--1, 8px);
    flex-shrink: 0;
    background: #F5F5F5;

    border-bottom: 1px solid var(--divider, rgba(0, 0, 0, 0.12));
}

#productTitle {
    max-width: 330px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#listWrap {
    margin-top: 80px;
}

#listWrap p {
    color: #191919;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Noto Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
}

#productList {
     margin-top: 27px;

}

#searchProduct {
    margin-top: 26px;

}

.list_content {
    margin-top: 16px;
}

#count {
    width: 102px;

}

#productCode {
    width: 205px;

}

#productName {
    width: 205px;
}

#productSerial {
    width: 205px;

}

#price {
    width: 205px;
}

#firstCateogory {
    width: 205px;

}

#productRegistDate {
    width: 205px;
}

.line {
    border-bottom: 1px solid var(--divider, rgba(0, 0, 0, 0.12));
}