<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>공지사항</title>
    <link rel="stylesheet" type="text/css" href="/admin/css/community/list.css">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
            integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="/admin/js/product/regist.js" type="text/javascript"></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>

    <script>
        $(document).ready(function(){
        $("input[name=ckall]").click(function(){
            if($("input[name=ckall]").prop("checked")){
                $("input[name=chkid]").prop("checked",true);
            }else{
                $("input[name=chkid]").prop("checked",false);
            }
        });
        $("input[name=chkid]").click(function (){
            $("input[name=ckall]").prop("checked",false);
        });
        });
    </script>

</head>
<body style="width: 1920px;">
<div th:include="common/admin/header.html"></div>

<div id="wrapper">
    <div th:include="common/admin/nav.html"></div>

    <div class="adminNotices_body" id="adminNotices_wrapper">
        <p class="adminNotices_title">공지사항 관리</p>
        <p class="adminNotices_content">공지사항 조회</p>
        <div class="adminNotices_tbl">
            <table class="tal_adminNotices">
                <tbody>
                <tr>
                    <th class="th_content">분류 선택</th>
                    <td colspan="3">
                        <form id="searchForm">
                        <select class="searchCondition" id="searchCondition" name="searchCondition">
                            <option value>분류</option>
                            <option value="">작성자</option>
                            <option value="title" th:selected="${ paging.searchCondition eq 'title'}">제목</option>
                            <option value="body" th:selected="${ paging.searchCondition eq 'body'}">내용</option>
                            <option value="registeredDate" th:selected="${ paging.searchCondition eq 'registeredDate'} or ${ paging.searchCondition eq 'modifiedDate' }">날짜</option>
                        </select>
                        <input class="inputSelect" type="search" id="searchValue" name="searchValue" placeholder="검색어 입력">
                    </td>
                </tr>
                </tbody>
            </table>
                            <button class="searchButton" type="submit">공지사항 조회</button>
                        </form>
        </div>

        <div>
            <div style="text-align: center; width: 1436px; display: flex;justify-content: flex-start; margin-top: 40px;">
            <p class="adminNotices_content2">공지사항 목록</p>
                <button id="deleteButton" class="searchButton2" type="button" style="display :inline-block; margin-right: 8px;" align="right" >공지사항 삭제</button>
                <button class="searchButton2" type="button" style="display :inline-block;" align="right" onclick="location.href='regist'">공지사항 작성</button>
<!--                <button id="updateButton" class="searchButton2" type="button" style="display :inline-block; margin-right: 8px;" align="right">공지사항 수정</button>-->
            </div>
            <div class="adminNotices_tbl">
                <table class="tal_adminNotices">
                    <tbody>
                    <tr>
                        <th><input type="checkbox" name="ckall" id="checkAll" class="chk"></th>
                        <th class="th_content">번호</th>
                        <th class="th_content">분류</th>
                        <th class="th_content3"></th>
                        <th colspan=4 class="th_content" align="left">공지사항 제목</th>
                        <th class="th_content">작성자</th>
                        <th class="th_content">등록일</th>
                        <th class="th_content">수정일</th>
                    </tr>
                    <tr class="tr2">
                        <table class="tal_adminNotices2" th:each="notices ,test : ${ noticesList }")>
                        <th class="th2"><input type="checkbox" class="cb" name="chkid" th:value="${notices.code}" ></th>
                        <th class="th2 th_content" th:text="${paging.totalCount - (paging.page * paging.limit)- test.index + paging.limit}" th:onclick="|location.href='/admin/notices/detail?no=${notices.code}'|"/>
                        <th class="th2 th_content" th:text="${ notices.category.name }" th:if="${notices.category.code}==1" style="color:crimson" th:onclick="|location.href='/admin/notices/detail?no=${notices.code}'|"/>
                            <th class="th2 th_content" th:text="${ notices.category.name }" th:if="${notices.category.code}==2" th:onclick="|location.href='/admin/notices/detail?no=${notices.code}'|"/>
                            <th class="th2 th_content" th:text="${ notices.category.name }" th:if="${notices.category.code}==3" style="color:#0075BD" th:onclick="|location.href='/admin/notices/detail?no=${notices.code}'|"/>
                        <th class="th_content3" style="background-color: white" th:onclick="|location.href='/admin/notices/datail?no=${notices.code}'|"></th>
                        <th colspan=4 class="th2 th_content2" align="left" th:text="${ notices.title }" th:onclick="|location.href='/admin/notices/detail?no=${notices.code}'|"/>
                        <th class="th2 th_content">작성자</th>
                        <th class="th2 th_content" th:text="${ #dates.format(notices.registeredDate, 'yyyy.MM.dd') }"/>
                        <th class="th2 th_content" th:text="${ #dates.format(notices.registeredDate, 'yyyy.MM.dd') }" th:if="${ notices.modifiedDate }!=null"></th>
                            <th class="th2 th_content" th:text="ㅡ" th:if="${ notices.modifiedDate }==null"></th>
                        </table>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div id="paging" align="right" style="margin-top: 16px;">

            <th:block>
<!--                    th:if="${ paging.searchCondition == null  || paging.searchValue == null }">-->
                <!-- 맨 앞으로 이동 -->
                <button class="pagingButton" th:onclick="'location.href=\'/admin/notices/list?page=1\''">《</button>

                <!-- 이전 페이지로 이동 -->
                <button class="pagingButton"
                        th:onclick="'location.href=\'/admin/notices/list?page=' + @{${paging.page - 1}} + '\''"
                        th:disabled="${ paging.page <= 1 }">〈</button>

                <!-- 숫자 버튼 -->
                <th:block
                        th:each="page : ${ #numbers.sequence(paging.startPage, paging.endPage)}">
                    <button class="pagingButton"
                            th:onclick="'location.href=\'/admin/notices/list?page=' + @{${page}} + '\''"
                            th:text="${ page }" th:disabled="${ paging.page eq page }">
                    </button>
                </th:block>

                <!-- 다음 페이지로 이동 -->
                <button class="pagingButton"
                        th:onclick="'location.href=\'/admin/notices/list?page=' + @{${paging.page + 1}} + '\''"
                        th:disabled="${ paging.page >= paging.maxPage }">〉</button>

                <!-- 맨 끝으로 이동 -->
                <button class="pagingButton"
                        th:onclick="'location.href=\'/admin/notices/list?page=' + @{${paging.maxPage}} + '\''">》</button>
            </th:block>

        </div>


    </div>
</div>
<script>
    const ndb = document.querySelector("#deleteButton");
    const cb = document.querySelectorAll(".cb")

    const checkbox = document.querySelectorAll(".cb")
    let box = []
    ndb.onclick = function (){

        checkbox.forEach((a)=>{
            if(a.checked){
                box.push(a.value);
            }
        })
        console.log(box);
        console.log(JSON.stringify(box));
            if(box.length===0){
                alert("선택된 공지사항이 없습니다.")
            } else {
            var confirm_val = confirm(box.length+"개의 공지 사항을 정말 삭제하시겠습니까?");
            if (confirm_val) {
                fetch("/admin/notices/delete",{
                    method:'POST',
                    headers:{'Content-Type': 'application/json;charset=UTF-8'},
                    body: JSON.stringify(box)
                })
                    .then(result=>result.text())
                    .then(result => console.log(result))
                    .then(result => window.location.reload());
                location.href = "/admin/notices/list?page=1";
            } else {
                return box = [];
            }}
    }

</script>

<!--<script>-->
<!--    const nub = document.querySelector("#updateButton");-->
<!--    const checkbox2 = document.querySelectorAll(".cb")-->

<!--    nub.onclick=function (){-->
<!--        let box2 = $("input[name='chkid']:checked").val()-->
<!--        let box3 = $("input[name='chkid']:checked").length;-->

<!--        if(box3==1){-->
<!--            var confirm_val2 = confirm("선택하신 공지사항을 수정하시겠습니까?");-->
<!--            if (confirm_val2){-->
<!--                fetch("/admin/notices/update",{-->
<!--                    method:'GET',-->
<!--                    headers:{'Content-Type': 'application/json;charset=UTF-8'},-->
<!--                    body: JSON.stringify(box2)-->
<!--                })-->
<!--                    .then(result=>result.text())-->
<!--                    .then(result => console.log(result))-->
<!--                    .then(result=> window.location.reload());-->

<!--                location.href="/admin/notices/update?code="+ $("input[name='chkid']:checked").val();-->


<!--            }else{-->
<!--                return box="";-->
<!--            }-->
<!--        } else if(box3>1){-->
<!--            alert("하나의 공지사항만 선택가능합니다.")-->
<!--        } else { alert("선택된 공지사항이 없습니다.") }-->
<!--    }-->
<!--    -->
<!--</script>-->
</body>
</html>