<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <div class="menu_wrap">
        <ul class="dep1">
            <li>
                <h3>
                    <img  class="menu_title" src="/admin/images/menu-item-snb-icon1.svg" style="filter: contrast(15%)" alt="menu_img">
                    회원관리
                </h3>
                <ul class="dep2">
                    <li><a  href="#">회원정보 조회</a></li>
                    <li><a href="#">회원등급 관리</a></li>
                </ul>
            </li>
            <li>
                <img class="menu_title" src="/admin/images/menu-item-snb-icon2.svg" alt="menu_img">
                <h3>상품관리</h3>
                <ul class="dep2">
                    <li><a  href="#">메뉴2_1</a></li>
                    <li><a href="#">메뉴2_2</a></li>
                    <li><a href="#">메뉴2_3</a></li>
                </ul>
            </li>
            <li>
                <img class="menu_title" src="/admin/images/menu-item-snb-icon.svg" alt="menu_img">
                <h3>주문&배송관리</h3>
                <ul class="dep2">
                    <li><a  href="#">메뉴3_1</a></li>
                    <li><a href="#">메뉴3_2</a></li>
                    <li><a href="#">메뉴3_3</a></li>
                </ul>
            </li>

            <li>
                <img class="menu_title" src="/admin/images/menu-item-snb-icon3.svg" alt="menu_img">
                <h3 href="#">글관리</h3>
                <ul class="dep2">
                    <li><a  href="#">메뉴4_1</a></li>
                    <li><a href="#">메뉴4_2</a></li>
                    <li><a href="#">메뉴4_3</a></li>
                </ul>
            </li>
        </ul>
    </div>
</body>
</html>