<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/admin/css/mingyo-member/style.css" rel="stylesheet" type="text/css">
    <link href="/admin/css/mingyo-member/style1.css" rel="stylesheet" type="text/css">
</head>
<body>

    <div class="menu_wrap">
        <ul class="dep1">
            <li>
                <h3>
                    <img  class="menu_title" src="/admin/images/mingyo-member/menu-item-snb-icon1.svg" style="filter: contrast(15%)" alt="menu_img">
                    회원관리
                </h3>
                <ul class="dep2-1">
                    <li><a  href="/admin/adminMemberList">회원정보 조회</a></li>
<!--                    <li><a href="#">회원등급 관리</a></li>-->
                </ul>
            </li>
            <li>
                <img class="menu_title" src="/admin/images/mingyo-member/menu-item-snb-icon2.svg" alt="menu_img">
                <h3>상품관리</h3>
                <ul class="dep2-2">
                    <li><a href="/admin/product/list">상품 조회</a></li>
                    <li><a href="/admin/product/regist">상품 등록</a></li>
                    <li><a href="#">재고 관리</a></li>
                </ul>
            </li>
            <li>
                <img class="menu_title" src="/admin/images/mingyo-member/menu-item-snb-icon.svg" alt="menu_img">
                <h3>주문&배송관리</h3>
                <ul class="dep2-3">
                    <li><a href="/admin/order">주문관리</a></li>
                    <li><a href="/admin/deliveryManager">배송관리</a></li>

                </ul>
            </li>

            <li>
                <img class="menu_title" src="/admin/images/mingyo-member/menu-item-snb-icon3.svg" alt="menu_img">
                <h3 href="#">글관리</h3>
                <ul class="dep2-4">
                    <li><a  href="/admin/notices/list">공지사항</a></li>
                    <li><a href="#">FAQ</a></li>
                    <li class="last-dep2"><a href="#">Q&A</a></li>
                </ul>
            </li>

        </ul>
    </div>
</body>
</html>