body {
    margin-top: 10px;
    margin-left: 80px;
    display: flex;
    width: 1920px;
}

ul {
    list-style-type: none;
}

#hr {
    margin-top: 13px;
    margin-bottom: 13px;
    height: 1px;
    width: 220px;
    color: #AAA;
}
#title {
    margin-left: 20px;
}

li {
    margin-left: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
}

#category {
    margin-top: 30px;
}