body {
    margin-top: 110px;
    /*display: flex;*/
    justify-content: center;
    align-items: center;
    width: 1920px;
}
.hr {
    width: 1020px;
    margin-top: 13px;
    margin-bottom: 10px;
}

.mypageContainer {
    width: 1020px;
    margin: 100px auto 370px auto;
    display: block;
}

.shippingContainer, .category, .category {
    font-size: 13px;
}

#cancel {
    margin-left: 660px;
}

#availableMileage {
    margin-left: 620px;
}

.rightCategory {
    margin-left: 400px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.leftCategory {
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.leftCategory span, .rightCategory span {
    color: black;
}

.leftCategory, .rightCategory {
    color: #8a8a8a;
}
