<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>장바구니</title>

    <link rel="stylesheet" href="/order/basket.css">
</head>



<body>

<div id="main">
    <div id="head">
        <h2>장바구니</h2>
    </div>



    <div id="body">
        <div id="b-head">

        </div>
        <div id="b-body">
            <div id="b-b-row1">
                <div class="row1-columns"><input type="checkbox"></div>
                <div class="row1-columns">이미지</div>
                <div class="row1-columns">상품정보</div>
                <div class="row1-columns">판매가</div>
                <div class="row1-columns">수량</div>
                <div class="row1-columns">적립금</div>
                <div class="row1-columns">배송구분</div>
                <div class="row1-columns">배송비</div>
                <div class="row1-columns">합계</div>
                <div class="row1-columns">선택</div>
            </div>
            <div id="b-b-row2" class="row">
                <div class="columns"><input type="checkbox"></div>
                <div class="columns"></div>
                <div class="columns">매우 멋진 가방</div>
                <div class="columns">13,200</div>
                <div class="columns">1</div>
                <div class="columns">-</div>
                <div class="columns">기본배송</div>
                <div class="columns">3,000</div>
                <div class="columns">16,200</div>
                <div class="columns">삭제</div>
            </div>
            <div id="b-b-row3" class="row">
                <div class="columns"><input type="checkbox"></div>
                <div class="columns"></div>
                <div class="columns">매우 멋진 가방</div>
                <div class="columns">13,200</div>
                <div class="columns">1</div>
                <div class="columns">-</div>
                <div class="columns">기본배송</div>
                <div class="columns">3,000</div>
                <div class="columns">16,200</div>
                <div class="columns">삭제</div>

            <div></div>
        </div>
        <div id="b-tail">

        </div>
    </div>



    <div id="tail">

    </div>
</div>






</body>
</html>