<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" type="text/css" href="/user/css/mypage/mypage.css">

</head>
<body>

<div th:replace="common/user/header.html"></div>

<div class="mypageContainer">

    <h2 align="center">MY PAGE</h2><br><br>
    <p>&nbsp;&nbsp;&nbsp;나의 주문 처리 현황</p>
    <hr class="hr">
    <div class="shippingContainer">
        <button type="button" class="shipping">&nbsp;&nbsp;&nbsp;배송 준비 중 0</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <button type="button" class="shipping">배송 중 0</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <button type="button" class="shipping">배송 완료 0</button>
        <button type="button" class="shippingCancel" id="cancel">취소</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <button type="button" class="shippingCancel">반품</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </div>
    <hr class="hr">
    <div class="shippingContainer">
        <button type="button" class="totalShipping">&nbsp;&nbsp;&nbsp;총 주문 0원</button>
        <button type="button" class="mileage" id="availableMileage">가용 적립금 0원</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <button type="button" class="mileage">총 적립금 0원</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <button type="button" class="mileage">사용 적립금 0원</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </div>
    <hr class="hr">
    <div class="category">
        <button onclick="location.href='/order/member'" type="button" class="leftCategory" id="myOrder"><span>ORDER</span>&nbsp;&nbsp;&nbsp;&nbsp;주문 내역 조회</button>
        <button type="button" class="rightCategory" id="myInfo"><span>MY INFO</span>&nbsp;&nbsp;&nbsp;&nbsp;회원 정보</button><br>
        <button type="button" class="leftCategory" id="myAddress"><span>ADDRESS</span>&nbsp;&nbsp;&nbsp;&nbsp;배송지 관리</button>
        <button type="button" class="rightCategory" id="myReview"><span>MY REVIEW</span>&nbsp;&nbsp;&nbsp;&nbsp;후기</button><br>
        <button type="button" class="leftCategory" id="myMileage"><span>MILEAGE</span>&nbsp;&nbsp;&nbsp;&nbsp;적립금</button>
    </div>

</div>

<div th:replace="/common/user/footer.html"></div>

</body>

<script>
    // 마이페이지 -> 회원 정보 이동
    if (document.getElementById("myInfo")) {
        const $update = document.getElementById("myInfo");
        $update.onclick = function () {
            location.href = "/user/modify";
        }
    }

    // 마이페이지 -> 후기 이동
    if (document.getElementById("myReview")) {
        const $update = document.getElementById("myReview");
        $update.onclick = function () {
            location.href = "/user/reviewList";
        }
    }
</script>

</html>