<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <link rel="stylesheet" type="text/css" href="/user/css/mypage/reviewList.css">
  <link rl="stylesheet" href="/user/css/migi/header.css"/>
  <link rl="stylesheet" href="/user/css/mypage/mypageNav.css"/>

</head>
<body>

<div th:replace="common/user/header.html"></div>

<div id="nav">
    <div th:replace="common/user/mypageNav.html"></div>
</div>

<div class="reviewListContainer">
    <form action="/user/review" method="post">

        <table align="center" class="reviewList">
            <tr>
                <th class="orderDay">일자</th>
                <th class="orderNum">주문 번호</th>
                <th class="orderRe">후기 작성</th>
            </tr>

            <tr th:each="review : ${reviewList}" th:unless="${#lists.isEmpty(reviewList)}">
                <td class="orderDay" th:text="${#dates.format(review.revCreatedDate, 'yyyy.MM.dd')}"></td>
                <td class="orderNum" th:text="${review.resCode}"></td>
                <td class="orderRe" th:text="${review.revScore}"></td>
            </tr>

            <tr class="res_history_box" th:each="resHistory : ${ reservationList }" th:unless="${#lists.isEmpty(reservationList)}">
                <td class="col" id="col1" th:text="${ resHistory.reserveCode }" th:onclick="|location.href='/member/reservationDetail?reserveCode=${resHistory.reserveCode}'|"></td>
                <td class="col" id="col2" th:text="${ #strings.substring(resHistory.startDateTime, 0, 11) }"></td>
                <td class="col" id="col3" th:text="${ #strings.substring(resHistory.reserveAppDate, 0, 11) }"></td>
                <td class="col" id="col4" th:text="${ resHistory.petSitter.memberInfo.nickName }" th:onclick="|location.href='/member/reservationDetail?reserveCode=${resHistory.reserveCode}'|"></td>
            </tr>
        </table>



    </form>
</div>

<div id="footer">
<!--<div th:replace="/common/user/footer.html"></div>-->
</div>

</body>
</html>